/.vscode
/build
/foy3-1.c
/foy3-1.exe
/foy3-2.c
/foy4-2.c
/foy4-2.exe
/foy4-3.c
/foy4-3.exe
/foy4-4.c
/foy4-4.exe
/foy4.c
/foy4.exe
/foy5-2.c
/foy5-2.exe
/foy5-3.c
/foy5-3.exe
/foy5-4.c
/foy5-4.exe
/foy5-5.c
/foy5-5.exe
/foy5.c
/foy5.exe
/foy6-2.c
/foy6-2.exe
/foy6-3.c
/foy6-3.exe
/foy6-4.c
/foy6-4.exe
/foy6.c
/foy6.exe
/foy7-2.c
/foy7-2.exe
/foy7-3.c
/foy7-3.exe
/project.exe